<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!--Agregar los meta desc, author-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imgs/logo.png" type="image/x-icon">
    <title>Brawl Stars</title>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!--Styles-->
    <link rel="stylesheet" href="styles/index-style.css">
    <link rel="stylesheet" href="styles/main-styles.css">
</head>
<body class="light">
    <header class="header">
        <%- include('./fragments/nav.ejs') %>
        <div>
            <img class="header-img" src="imgs/portada.png" alt="">
        </div>
    </header>
    <main>
        <section class="section-about">
            <div class="content-img">
                <img class="about-img img-section" src="imgs/brawlstars.webp" alt="">
            </div>
            <article class="about-article">
                <h2>Brawl Stars</h2>
                <p>Es un juego para dispositivos móviles que ofrece modos de juego 3c3 y Supervivencia.</p>
                <h3>Descarga la app</h3>
                <div class="content-btn-download">
                    <a href="https://apps.apple.com/us/app/brawl-stars/id1229016807" class="btn-download">
                        <i class="ph-fill ph-apple-logo ic-download"></i>
                        <div>
                            <p>Descargar en la</p>
                            <span class="btn-download-content">App Store</span>
                        </div>
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.supercell.brawlstars&hl=en" class="btn-download">
                        <i class="ph-fill ph-google-play-logo ic-download"></i>
                        <div>
                            <p>Consiguelo en</p>
                            <span class="btn-download-content">Google Play</span>
                        </div>
                    </a>
                </div>
            </article>
        </section>
        <section class="section-brawlers">
            <div class="content-img">
                <img class="brawlers-img img-section" src="imgs/Brawlers.png" alt="">
            </div>
            <article class="brawlers-article">
                <h2>Explora cada Brawler</h2>
                <p>Conoce sus caracteristicas y habilidades para elegir el que se adapte más a tu estilo de juego. Son 79 brawlers en total.</p>
                <a href="html/brawlers.html" class="button"><span class="button-content">Saber más</span></a>
            </article>
        </section>
        <section class="section-modos">
            <div class="content-img">
                <img class="modos-img img-section" src="imgs/Modos.png" alt="">
            </div>
            <article class="modos-article">
                <h2>Conoce los diversos modos de juego</h2>
                <p>En brawl stars tenemos diferentes modos de juego para cada rol, desde enfrentamientos freneticos hasta combates estrategicos por la victoria.</p>
                <a href="html/modos-juego.html" class="button"><span class="button-content">Saber más</span></a>
            </article>
        </section>
        <section class="section-competitivo">
            <div class="content-img">
                <img class="competitivo-img img-section" src="imgs/competitivo.png" alt="">
            </div>
            <article class="competitivo-article">
                <h2>Competitivo</h2>
                <p>Conoce las rankeds y los torneos que se llevan acabo cada año para conocer a los mejores jugadores por su versatilidad y habilidad durante las batallas, y compite por las multiples recompensas por jugar</p>
                <a href="html/competitivo.html" class="button"><span class="button-content">Saber más</span></a>
            </article>
        </section>
    </main>
    <!--Footer-->
    <%- include('./fragments/footer.ejs') %>
    <!--Icons-->
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <!--JavaScript-->
    <script src="../js/main.js"></script>
</body>
</html>