<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imgs/logo.png" type="image/x-icon">
    <title>404</title>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!--Styles-->
    <link rel="stylesheet" href="../styles/main-styles.css">
    <link rel="stylesheet" href="../styles/404-style.css">
</head>
<body>
    <header id="nav-container">
        <%- include('./fragments/nav.ejs') %>
    </header>
    <main>
        <div class="content-error">
            <img src="imgs/tenor (1).gif" alt="Spike Sad">
            <h1 id="codeStatus">404</h1>
            <h2>Página no encontrada</h2>
            <p>La página que buscas no existe</p>
        </div>
    </main>
    <%- include('./fragments/footer.ejs') %>
    <!--Icons-->
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <!--JavaScript-->
    <script src="../js/main.js"></script>
</body>
</html>