<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imgs/logo.png" type="image/x-icon">
    <title>Brawlers</title>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!--Styles-->
    <link rel="stylesheet" href="../styles/main-styles.css">
    <link rel="stylesheet" href="../styles/brawlers-style.css">
</head>
<body>
    <header id="nav-container">
        <%- include('./fragments/nav.ejs') %>
    </header>
    <main>
        <section class="info-brawlers">
            <article class="info-article">
                <h2>Conoce sobre los Brawlers</h2>
                <p>Actualmente el juego cuenta con 79 brawlers disponibles para jugar, cada uno con mecanicas y habilidades
                    diferentes. Conoce cual se adapta más a su estilo de juego</p>
            </article>
        </section>
        <section class="qualities">
            <article class="qualities-article">
                <h2>Calidades</h2>
                <p>Los brawlers se dividen por calidades. Actualmente se cuenta con 5 Calidades y son las siguientes:</p>
                <ul>
                    <li><img src="../imgs/list_style.png" alt="Logo para las Listas">Especiales</li>
                    <li><img src="../imgs/list_style.png" alt="Logo para las Listas">Superespeciales</li>
                    <li><img src="../imgs/list_style.png" alt="Logo para las Listas">Epicos</li>
                    <li><img src="../imgs/list_style.png" alt="Logo para las Listas">Miticos</li>
                    <li><img src="../imgs/list_style.png" alt="Logo para las Listas">Legendarios</li>
                </ul>
            </article>
        </section>
        <section class="section-brawlers">
            <h2 class="subtitle-brawlers">Brawlers</h2>
            <article>
                <div class="cards-container">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="../imgs/shelly_1.png" alt="Brawler Shelly">
                            </div>
                            <div class="card-text">
                                <h3>Shelly</h3>
                                <p>Shelly es una Brawler Común que se desbloquea al comenzar el juego. Tiene una salud
                                    moderada y una eficacia en cuanto a daño.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="../imgs/spike_.png" alt="">
                            </div>
                            <div class="card-text">
                                <h3>Spike</h3>
                                <p>Spike es un Brawler Legendario con poca salud, pero un daño devastadoramente alto. Su
                                    ataque es una bola espinosa que explota al impactar y se divide en 7 espinas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="../imgs/mortis.png" alt="">
                            </div>
                            <div class="card-text">
                                <h4>Mortis</h4>
                                <p>Mortis es un Brawler Mítico quien es un vampiro sepulturero. Mortis tiene una pala, la
                                    cual usa para atacar y desplazarse a la vez.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="../imgs/crow.png" alt="">
                            </div>
                            <div class="card-text">
                                <h4>Crow</h4>
                                <p>Crow es un Brawler de calidad Legendaria. Su habilidad es lanzar cuchillos envenenados a
                                    sus rivales.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="../imgs/fan.png" alt="">
                            </div>
                            <div class="card-text">
                                <h4>Fang</h4>
                                <p>Fang es un Brawler Mítico. Fang tiene mucha salud, una gran producción de daño y una
                                    velocidad de movimiento rápida.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="../imgs/edgar.png" alt="">
                            </div>
                            <div class="card-text">
                                <h4>Edgar</h4>
                                <p>Edgar es un Brawler Épico. Tiene una especie de bufanda mágica que al parecer tiene vida
                                    propia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="../imgs/spike_.png" alt="">
                            </div>
                            <div class="card-text">
                                <h3>Spike</h3>
                                <p>Spike es un Brawler Legendario con poca salud, pero un daño devastadoramente alto. Su
                                    ataque es una bola espinosa que explota al impactar y se divide en 7 espinas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="../imgs/spike_.png" alt="">
                            </div>
                            <div class="card-text">
                                <h3>Spike</h3>
                                <p>Spike es un Brawler Legendario con poca salud, pero un daño devastadoramente alto. Su
                                    ataque es una bola espinosa que explota al impactar y se divide en 7 espinas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <!--Footer-->
    <%- include('./fragments/footer.ejs') %>
    <!--Icons-->
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <!--JavaScript-->
    <script src="../js/main.js"></script>
</body>
</html>