/*Transiciones entre páginas y elementos*/
@view-transition {
    navigation: auto;
}
/*Valores Universales*/
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Asap";
}
a{
    text-decoration: none;
}
:root{
    scroll-behavior: smooth;
    --color-primario1: #febf21;
    --color-primario2: #ef1918;
    --color-primario3: #f96f00;
    --bg-dark: #0f0f0f;
    --bg-light: #fff0f0;
}

/* Variantes de negro
-- Ceniza: #212322
-- Negro Neutro: #222223
-- Ahumado: 25282a
*/
html{
    /* cursor: url(../imgs/list_style.png), auto; */
    scrollbar-color: var(--color-primario3) var(--bg-dark);
}
body{
    /* background-color: #fde3d3; */
    /* background-color: #0f0f0f; */
    background-color: var(--bg-light);
    transition: 0.3s all;
}
.dark{
    transition: 0.3s all;
    background-color: var(--bg-dark);
    color: white;
}
/*Toogle Switch*/
#toogle{
    display: none;
}
#label-toogle{
    color: white;
    cursor: pointer;
    position: relative;
    width: 60px;
    padding: 5px 8px;
    box-shadow: inset 0px 0px 2px #000000, inset 0 0 10px #000000f0;
    border-radius: 150px;
    background: var(--color-primario1);
    display: flex;
    justify-content: space-between;
    transition: 1s ease;
}
#label-toogle::before{
    content: "";
    position: absolute;
    top: 50%;
    /* z-index: -2; */
    right: 0;
    transform: translate(0, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s ease;
}
body.dark #label-toogle{
    background: #51009c;
}
body.dark #label-toogle::before{
    transition: transform 0.3s ease;
    transform: translate(-100%, -50%);
}


/* Navegación */
.main-nav{
    background-color: var(--bg-dark);
    box-shadow: 0 2px 5px #3838381f;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    z-index: 1;
}
.nav-img{
    width: 40px;
    z-index: 100;
}
.nav-img:hover{
    animation: imgRotate 2s linear infinite;
}
@keyframes imgRotate {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}
.nav-menu{
    background: linear-gradient(315deg, var(--color-primario1), var(--color-primario2));
    border-radius: 5px;
    z-index: 100;
    cursor: pointer;
    font-size: 30px;
}
body.dark .nav-menu{
    color: #000000;
}
.nav-list{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background: var(--bg-dark);
    list-style: none;
    padding: 0;
    display: grid;
    place-content: center;
    gap: 30px;
    text-align: center;
    transform: translate(-100%);
    transition: transform 0.5s;
}
.nav-list-show{
    transform: translate(0%);
}

.nav-link{
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding-bottom: 7px;
    cursor: pointer;
}
.nav-link::before{
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    content: "";
    position: absolute;
    bottom: 0px;
    background: linear-gradient(to left, var(--color-primario1), var(--color-primario2));
    right: 100%;
    left: 0;
    height: 5px;
    -webkit-transition: right 0.3s ease-out;
    transition: right 0.3s ease-out;
}
.nav-link:hover::before,
.nav-link:focus::before,
.nav-link:active::before {
    right: 0%;
} 
.header > div{
    height: 100vh;
}
.header > div > img{
    padding-top: 65px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Main */
main{
    padding: 5%;
    display: grid;
    gap: 100px;
}

/*Botones*/

.button {
    align-items: center;
    background-image: linear-gradient(144deg, var(--color-primario1), var(--color-primario3) 50%,var(--color-primario2));
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
    justify-self: center;
}

.button:active,
.button:hover {
    outline: 0;
}

.button span {
    background-color: var(--bg-light);
    padding: 12px 20px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    color: #000000;
}
body.dark button span{
    background-color: var(--bg-dark);
    color: white;
}

.button:hover span {
    background: none;
}

.button:active {
    transform: scale(0.95);
}


/*Footer*/
.footer {
    background-color: var(--bg-dark);
    /* background-color: #fde3d3; */
    /* margin-top: auto; */
    padding: 50px 25px;    
    box-shadow: 0 -2px 5px #3838381f;
    color: white;
}

.redes-sociales {
    margin-top: 20px;
}

.redes-sociales>a:not(:last-child) {
    margin-right: 20px;
}

.redes-sociales>a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.redes-sociales {
    display: inline-flex;
    height: 120px;
    width: 100%;
    padding-top: 40px;
}

.redes-sociales .icon {
    position: relative;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 10px 10px rgba(36, 36, 36, 0.397); */
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes-sociales .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    /* box-shadow: 0 10px 10px rgba(36, 36, 36, 0.397); */
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes-sociales .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes-sociales .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.redes-sociales .icon:hover span,
.redes-sociales .icon:hover .tooltip {
    text-shadow: 0 -1px 0 rgba(36, 36, 36, 0.397);
}

.redes-sociales .facebook:hover,
.redes-sociales .facebook:hover .tooltip,
.redes-sociales .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.redes-sociales .twitter:hover,
.redes-sociales .twitter:hover .tooltip,
.redes-sociales .twitter:hover .tooltip::before {
    background: #000000;
    color: #fff;
}

.redes-sociales .instagram:hover,
.redes-sociales .instagram:hover .tooltip,
.redes-sociales .instagram:hover .tooltip::before {
    background: linear-gradient(45deg, #fed472, #f86f2f, #d43089, #9e37b8, #5f4bc6);
    color: #fff;
}

.redes-sociales .youtube:hover,
.redes-sociales .youtube:hover .tooltip,
.redes-sociales .youtube:hover .tooltip::before {
    background: red;
    color: #fff;
}

/*Responsive*/
@media (min-width: 550px) {
    .nav-menu{
        display: none;
    }
    .nav-list{
        position: absolute;
        left: 80px;
        top: 35%;
        list-style: none;
        height: 18px;
        background: transparent;
        display: flex;
        gap: 40px;
        transform: unset;
        transition: none;
        justify-content: start;

    }
    .nav-link{
        color: white;
        text-decoration: none;
    }
}
@media (min-width: 860px) {
    h2{
    font-size: 30px;
}
h3{
    font-size: 20px
}
p{
    font-size: 18px;
}
}