<footer class="footer">
    <div class="social">
        <h4>Redes Sociales</h4>
        <div class="redes-sociales">
            <a href="https://www.youtube.com/@BrawlStars" class="icon youtube">
                <span class="tooltip">Youtube</span>
                <i class="ph ph-youtube-logo"></i>
            </a>
            <a href="https://www.facebook.com/brawlstars/" class="icon facebook">
                <span class="tooltip">Facebook</span>
                <i class="ph ph-facebook-logo"></i>
            </a>
            <a href="https://www.instagram.com/brawlstars/" class="icon instagram">
                <span class="tooltip">Instagram</span>
                <i class="ph ph-instagram-logo"></i>
            </a>
            <a href="https://x.com/BrawlStars" class="icon twitter">
                <span class="tooltip">X/Twitter</span>
                <i class="ph ph-x-logo"></i>
            </a>
        </div>
    </div>
    <p>&copy; Copyrigth 2024</p>
    <p>Autores: Joan Ibica Naranjo / Marlon Gomez</p>
</footer>