<nav class="main-nav">
    <a href="https://supercell.com/en/games/brawlstars/"><img class="nav-img" src="../imgs/logo.png" alt=""></a>
    <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="/brawlers">Brawlers</a></li>
        <li class="nav-item"><a class="nav-link" href="/modos-de-juego">Modos de Juego</a></li>
        <li class="nav-item"><a class="nav-link" href="/competitivo">Competitivo</a></li>
    </ul>
    <label for="toogle" id="label-toogle"><i class="ph ph-sun"></i><i class="ph ph-moon"></i></label>
    <input type="checkbox" id="toogle">
    <i class="ph ph-list nav-menu"></i>
</nav>